.container {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.modal-body p {
    font-size:1.5rem;
}
.modal-body img {
    width: 100%;
    height: auto;
}

.modal-header {
    background-color: #007bff;
    color: #fff;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.close {
    color: #fff;
    font-size: 2rem;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 767px) {
    .card {
        margin-bottom: 40px;
    }
}