<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <script src="/js/myPageView.js"></script>
    <script th:src="@{/js/getKoreanAge.js}"></script>
    <link rel="stylesheet" href="/css/myPageView.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var modal = document.getElementById("myModal");
            var btn = document.getElementsByClassName("pet-card-create-img")[0];
            var span = document.getElementsByClassName("close")[0];

            btn.addEventListener("click", function() {
                modal.style.display = "block"; // 모달 열기
            });

            span.addEventListener("click", function() {
                modal.style.display = "none"; // 모달 닫기
            });

            window.addEventListener("click", function(event) {
                if (event.target == modal) {
                    modal.style.display = "none"; // 모달 외부 클릭 시 닫기
                }
            });
        });
    </script>
</head>
<body>
<header th:insert="common/header.html"></header>
<div>
    <div th:if="${session.user == null}">
        <script>
            alert("세션이 만료되었습니다. 다시 로그인해주세요.");
            location.href = "/loginRegister";
        </script>
    </div>
    <div th:if="${session.user != null}">
        <div class="row1">

            <!--     User-Card -->

            <div class="user-card">
                <div class="username-holder">
                    <h2 th:text="${'Care Point : ' + item.carePoint}" class="cpView"></h2>
                </div>
                <!--        유저사진-->
                <div class="user-pic-wrapper" th:id="${item.userId}">

                </div>
                <div class="user-img-form">
                    <form th:if="${item.userId == session.user.userId}" th:action="@{/myPageView/__${item.userId}__}"  method="POST" enctype="multipart/form-data" class="img-form">
                        <label for="file-input" class="file-input-button">
                            <i class="fas fa-camera"></i>
                        </label>
                        <input type="file" id="file-input" class="file-input" name="file"/>
                        <button class="file-upload-button" type="submit"><i class="fa-solid fa-check"></i></button>
                        <script>
                            var fileInput = document.getElementById("file-input");
                            var uploadButton = document.querySelector(".file-upload-button i");

                            fileInput.addEventListener("change", function() {
                                var fileName = this.value.split("\\").pop();
                                if (fileName) {
                                    uploadButton.classList.add("fa-beat");
                                } else {
                                    uploadButton.classList.remove("fa-beat");
                                }
                            });
                        </script>
                    </form>
                </div>

                <div class="user-infos">
                    <h2 class="user-nickname" th:text="${item.nickname + ' 님'}"></h2>

                    <span class="user-age" th:text="${'Age : ' + (#temporals.createNow().year - #temporals.createNow().withYear(#strings.substring(item.birth, 0, 4)).year + 1)}"></span>

                    <span class="user-gender" th:text="${'Gender : ' + (item.gender == 0 ? 'man' : 'woman')}"></span><br>
                </div>
                <div class="followetc">
                    <div class="follow-button" th:if="${item.userId == session.user.userId}">
                        <p>Edit Profile</p>
                    </div>
                </div>
            </div>

            <!--     Preview-Card -->

            <div class="featured-card">
                <!--     <div class="title-break"><h3>MasterCard Animation</h3></div> -->
                <div class="full-featured-preview">
                    <form class="intro-box" method="post" th:action="@{/myPageView/intro/__${item.userId}__}">
                        <textarea th:readonly="${item.userId != session.user.userId}" class="intro-textarea" name="intro" th:text="${item.userIntro}"></textarea>
                        <div class="duration">
                            <div class="durationname">
                                <button class="intro-upload-button" th:if="${item.userId == session.user.userId}">upload</button>
                            </div>
                        </div>
                    </form>

                </div>

                <!--    반려동물 보여주기-->
                <div class="pet-card">

                    <!--    반려동물 카드     -->
                    <div class="pet-card-detail" th:each="pet : ${pet}">
                        <div class="pet-card-img">
                            <div class="pet-img" th:id="${pet.petId}">

                            </div>
                        </div>
                        <div class="pet-info">
                            <p>품종: <span th:text="${pet.petBreed}"></span></p>
                            <p>이름: <span th:text="${pet.petName}"></span></p>
                            <p>성별: <span th:text="${pet.petGender == 0 ? '수컷' : '암컷'}"></span></p>
                        </div>
                    </div>




                    <!--    반려동물 카드추가   -->
                    <div class="pet-card-detail">
                        <a class="pet-card-create-img" href="#" style="background-image: url(/img/petAdd.png)"></a>
                        <div class="pet-create-info">
                            <p style="margin-bottom: 5px;">반려동물을</p>
                            <p>소개해주세요!</p>
                        </div>
                    </div>


                </div>

            </div>

        </div>

        <div id="myModal" class="modal">
            <div class="modal-content" style="background-image: url(/img/petCreate.png);">
                <span class="close">&times;</span>

                <!-- 반려동물 정보 작성 폼 -->
                <form th:action="@{/petCreate/__${item.userId}__}" method="POST" class="pet-form" enctype="multipart/form-data">
                    <input type="hidden" name="userId" th:value="${item.userId}">

                    <div class="pet-form-group">
                        <label for="petBreed">품종 :</label>
                        <input type="text" id="petBreed" name="petBreed" required>
                    </div>

                    <div class="pet-form-group">
                        <label for="petName">이름 :</label>
                        <input type="text" id="petName" name="petName" required>
                    </div>

                    <div class="pet-form-group">
                        <label for="petAge">나이 :</label>
                        <input type="number" id="petAge" name="petAge" required>
                    </div>

                    <div class="pet-form-group-gender">
                        <label>성별 :</label>
                        <div style="width: 45%; text-align: center;">
                            <label>
                                <input type="radio" name="petGender" value="0" required>
                                수컷
                            </label>
                        </div>
                        <div style="width: 33%;">
                            <label>
                                <input type="radio" name="petGender" value="1" required>
                                암컷
                            </label>
                        </div>
                    </div>

                    <div class="pet-form-group" style="margin-bottom: 40px;">
                        <label>반려동물 사진 :</label>
                        <label for="pet-profile" style="cursor: pointer"><i class="fas fa-camera"></i></label>
                        <input id="pet-profile" type="file" name="petProfile" style="display: none"/>
                    </div>


                    <button type="submit" class="pet-card-button">반려동물 생성</button>
                </form>
            </div>
        </div>

        <div class="row2">

            <!--     Follower-Card -->

            <div class="follower-card">
                <div class="follower">Post List</div>
                <div class="follower-pics-wrapper">
                    <div>
                        <table>
                            <thead>
                            <tr style="font-size: 18px;">
                                <th>Title</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <!--     Activity-Card -->

            <div class="activity-card">
                <div class="activity-line">
                    <div class="activity">
                        Review
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>

</html>