<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Q&A</title>
    <link rel="stylesheet" type="text/css" href="/css/Question.css">
    <link rel="stylesheet" type="text/css" href="/css/Menu.css">
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="logo"></div>
    <ul class="menu">
        <li><a href="#">Pet Book</a></li>
        <li><a href="#">Pet Care</a></li>
        <li><a href="#">CP Rank</a></li>
        <li><a href="">QnA</a></li>
    </ul>
</header>
<div class="container">
    <div class="menu-container">
        <div class="blue-box">
            <h3 class="menu-item">Dog</h3>
        </div>
        <div class="white-box">
            <h3 class="menu-item">Cat</h3>
        </div>
    </div>
    <div>
        <table class="qna-table">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성일</th>
                <th>작성자</th>
                <th>승인상태</th>
                <th>공개여부</th>
            </tr>
            </thead>

            <tbody>
            <tr th:if="${list.isEmpty()}">
                <td colspan="5">등록된 질문이 없습니다.</td>
            </tr>

            <tr th:each="question : ${list}">
                <td th:text="${question.qsTitle}"></td>
                <td th:text="${#temporals.format(question.createdDate, 'yyyy년 MM월 dd일')}"></td>
                <td th:text="${question.userId}"></td>
                <td th:text="${question.process}"></td>
                <td th:text="${question.disclosure}"></td>
                <td>
                    <a th:href="@{/question/delete/{qsId}(qsId=${question.qsId})}" class="delete-button">삭제</a>
                    <a th:href="@{/question/update/{qsId}(qsId=${question.qsId})}" class="update-button">변경</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="add" class="add-button">등록</a>
    </div>
    <div>
        <a href=".." class="home-button">처음으로</a>
    </div>
</div>
</body>
</html>
