<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h3>게시판 등록</h3>
        <form>
            <div>
                <div>제목</div>
                <input type="text" name="title">
            </div>

            <div>
                <div>작성일</div>
                <input type="date" name type="createdDate" >
            </div>

            <div>
                <div>작성자</div>
                <input type="text">
            </div>

            <div>
                <div>공개여부</div>
                <input type="text">
            </div>

            <div>
                <div>승인상태</div>
                <input type="text">
            </div>


        </form>
    </div>
</body>
</html>