<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Question</title>
</head>
<body>
<div>
  <h3>Update Question</h3>
  <div>
    <form method="post" th:object="${question}" th:action="@{/question/update/{qsId}(qsId=${question.qsId})}">
      <div>
        <label>제목</label>
        <input th:field="*{qsTitle}" type="text">
      </div>
      <div>
        <label>작성일</label>
        <input th:field="*{createdDate}" type="datetime-local">
      </div>

      <div>
        <label>공개여부</label>
        <div>
          <label>
            <input th:field="*{disclosure}" type="radio" value="O">
            <span class="icon-public">공개</span>
          </label>
          <label>
            <input th:field="*{disclosure}" type="radio" value="X">
            <span class="icon-private">비공개</span>
          </label>
        </div>
      </div>

      <div>
        <label>내용</label>
        <textarea th:field="*{content}"></textarea>
      </div>

      <div>
        <label>작성자</label>
        <input th:field="*{userId}" type="text">
      </div>

      <div>
        <button type="submit">수정</button>
        <a href="/question/list"><button type="button">취소</button></a>
      </div>
    </form>
  </div>
</div>
</body>
</html>
