<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- jquery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/bookList.js"></script>
</head>
<body>

<div class="container">
  <div>
    <h3>펫 종 등록</h3>
  </div>

  <form method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="form-group mt-2">
      <label >종:</label>
      <input id="species" name="species" type="text" class="form-control" th:value="${species}" >
    </div>


    <div class="form-group mt-2">
      <label>설명</label>
      <input id="description" name="description" type="text" class="form-control" th:value="${description}">
    </div>

    <tr>
      <th>첨부파일</th>
      <td colspan="3">
        <div class="file_list">
          <div>
            <div class="file_input">
              <input type="text" readonly />
              <label> 첨부파일
                <input id="file" type="file" name="files" onchange="selectFile(this);" th:value="${files}" />
              </label>
            </div>
            <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
            <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
          </div>
        </div>
      </td>
    </tr>

    <div class="form-group mt-3">
      <button type="submit" class="btn btn-sm btn-primary">등록</button>
      <a href="/book/bookList"><button type="button" class="btn btn-sm btn-secondary">취소</button></a>
    </div>
  </form>
</div>

</body>
</html>