<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>펫 종 수정</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
  <div>
    <h3>펫 종 수정</h3>
  </div>

  <form id="updateForm" method="post" autocomplete="off" enctype="multipart/form-data">
    <input type="number" name="petId" th:value="${petId}" readonly />
    <div class="form-group mt-2">
      <label for="species">종:</label>
      <input id="species" name="species" type="text" class="form-control" th:value="${item.species}" >
    </div>

    <div class="form-group mt-2">
      <label for="description">설명:</label>
      <input id="description" name="description" type="text" class="form-control" th:value="${item.description}">
    </div>

    <div class="form-group mt-2">
      <label for="writer">작성자:</label>
      <input id="writer" name="writer" type="text" class="form-control" th:value="${item.writer}">
    </div>

    <div class="form-group mt-2" th:each="file, stat : ${files}">
      <div>
        <label th:text="${file.original_name}"></label>
        <button type="button" class="btn btn-sm btn-danger" th:attr="data-id=${file.id}">삭제</button>
      </div>
    </div>

    <div class="form-group mt-3">
      <button type="submit" class="btn btn-sm btn-primary">수정</button>
      <a href="/book/bookList"><button type="button" class="btn btn-sm btn-secondary">취소</button></a>
    </div>
  </form>
</div>

<script>
  $(document).ready(function() {
    $(".btn-danger").click(function() {
      var fileId = $(this).attr("data-id");
      $.ajax({
        url: '/file/' + fileId,
        type: 'DELETE',
        success: function(result) {
          // Do something with the result
          location.reload();
        },
        error: function(err) {
          // Handle error
          console.error(err);
        }
      });
    });
  });
</script>
</body>
</html>
