<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- jquery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<div class="container">
  <div>
    <h3>펫 종 등록</h3>
  </div>

  <script>
    function selectFile(element) {

      const file = element.files[0];
      const filename = element.closest('.file_input').firstElementChild;

      // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
      if ( !file ) {
        filename.value = '';
        return false;
      }

      // 2. 파일 크기가 10MB를 초과하는 경우
      const fileSize = Math.floor(file.size / 1024 / 1024);
      if (fileSize > 10) {
        alert('10MB 이하의 파일로 업로드해 주세요.');
        filename.value = '';
        element.value = '';
        return false;
      }

      // 3. 파일명 지정
      filename.value = file.name;
    }


    // 파일 추가
    function addFile() {
      const fileDiv = document.createElement('div');
      fileDiv.innerHTML =`
            <div class="file_input">
                <input type="text" readonly />
                <label> 첨부파일
                    <input type="file" name="files" onchange="selectFile(this);" />
                </label>
            </div>
            <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
        `;
      document.querySelector('.file_list').appendChild(fileDiv);
    }


    // 파일 삭제
    function removeFile(element) {
      const fileAddBtn = element.nextElementSibling;
      if (fileAddBtn) {
        const inputs = element.previousElementSibling.querySelectorAll('input');
        inputs.forEach(input => input.value = '')
        return false;
      }
      element.parentElement.remove();

    }
  </script>

  <form id="saveForm" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="form-group mt-2">
      <label >종:</label>
      <input id="species" name="species" type="text" class="form-control" th:value="${species}" >
    </div>


    <div class="form-group mt-2">
      <label>설명</label>
      <input id="description" name="description" type="text" class="form-control" th:value="${description}">
    </div>


    <div class="form-group mt-2">
      <label>작성자</label>
      <input id="writer" name="writer" type="text" class="form-control" th:value="${writer}">
    </div>

    <tr>
      <th>첨부파일</th>
      <td colspan="3">
        <div class="file_list">
          <div>
            <div class="file_input">
              <input type="text" readonly />
              <label> 첨부파일
                <input id="file" type="file" name="files" onchange="selectFile(this);" th:value="${files}"/>
              </label>
            </div>
            <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
            <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
          </div>
        </div>
      </td>
    </tr>

    <div class="form-group mt-3">
      <button type="submit" class="btn btn-sm btn-primary">등록</button>
      <a href="/book/bookList"><button type="button" class="btn btn-sm btn-secondary">취소</button></a>
    </div>
  </form>
</div>

</body>
</html>