<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://www.thymeleaf.org">

<head>
    <title>펫북</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/pet-book.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>


<body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<nav class="global-nav">
    <div class="logo">
        <a href="#">PETBAYO</a>
    </div>
    <ul class="menu">
        <li><a href="#">PETBOOK</a></li>
        <li><a href="#">PETCARE</a></li>
        <li><a href="#">CPRANK</a></li>
        <li><a href="">고객센터</a></li>
    </ul>

    <div class="user">
        <a href="login.html">로그인</a>
        <a href="register.html">회원가입</a>
    </div>
</nav>

<div class="container">
    <h1>PETBOOK</h1>

    <form action="/book/search" method="get">
        <div class="search-container">
            <div class="search-input-container">
                <input type="text" id="search-input" name="keyword"
                       placeholder="검색어를 입력하세요">
                <button id="search-button">검색</button>
            </div>
            <!--search-category-container 부분 지우면 오류뜸 원인찾기 -->
            <div class="search-category-container">
                <select id="search-category" name="category">
                    <option value="all" selected>전체</option>
                    <option value="dog">개</option>
                    <option value="cat">고양이</option>
                    <option value="other">기타</option>
                </select>
            </div>
        </div>
    </form>

    <div class="result-container">
        <ul id="result-list">

        </ul>
    </div>
    <div class="container">
        <div class="row" >
            <!-- 전체 게시글 -->
            <div class="col-md-4" th:each="book : ${book}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${book.species}"></h5>
                        <p class="card-text" th:text="${book.writer}"></p>
                        <button type="button" class="btn btn-primary"
                                data-toggle="modal" th:data-target="'#modal' + ${book.petId}">상세보기</button>
                        <button class="btn btn-primary" data-toggle="modal">
                            <a th:href="@{/book/delete/{id}(id=${book.petId})}">삭제</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 검색 결과 게시글 -->
    <div class="col-md-4" th:each="book : ${searchResults}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${book.species}"></h5>
                <p class="card-text" th:text="${book.writer}"></p>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        th:data-target="'#modal' + ${book.petId}">상세보기
                </button>
                <button class="btn btn-primary" data-toggle="modal">
                    <a th:href="@{/book/delete/{id}(id=${book.petId})}">삭제</a>
                </button>
            </div>

        </div>

    </div>



    <!--모달창 -->
    <div th:each="book : ${book}">
        <div class="modal fade" th:id="'modal' + ${book.petId}">
            <div class="modal-dialog modal-lg" >
                <div class="modal-content" >
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${book.species}"></h5>
                        <p class="card-text" th:text="${book.writer}"></p>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p th:text="${book.description}"> </p>
                        <a th:href="@{/book/update/{id}(id=${book.petId})}">수정</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-danger"><a href="/bookCreate">등록</a></button>
<button><a href="/book/bookList">이전</a></button>
</div>
</body>

</html>