.goBook {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
    display: block;
    width: 23%;
    text-align: center;
    font-weight: 600;
    font-size: 12pt;
    background-color: gainsboro;
    padding: 15px;
}
.goBook:hover {
    text-decoration: none; /* 밑줄 제거 */
    color: #6abaff; /* 호버 시에 변경할 색상 설정 */
}
.title {font-weight:bold;display:block;}
.hAddr {position:absolute;left:3px;top:3px;border-radius: 3px;background:#fff;background:rgba(255,255,255,0.8);z-index:2;padding:5px;box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;}
.mAddr {cursor: pointer;width:32px;height:32px;position:absolute;right:3px;top:190px;border-radius: 3px;background-color: #ffffff;background-image: url("/img/myLocGo.svg");z-index:2;padding:5px;box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;}
#centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#careTableBody {
    width: 100%;height: auto;
}
.careListBox {
    display: flex;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    font-size: 12pt;
    padding: 10px;
    margin: 10px;
    width: 95%;
}
.careListBox.hovered {
    outline: 2px solid #35b0ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.custom-infowindow .custom-infowindow-close {
    top: -1px;
    right: -15px;
}
#map {
    transition: transform 0.5s ease; /* 중심 좌표 변경에 대한 트랜지션 효과 설정 */
}
.careListBox-user {
    padding-right: 10px;
    width: 34%;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.1);
}
.careListBox-user-cp {
    font-weight: bold;
    font-size: 10pt;
}
.user-pic-wrapper {
    width: 100%;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.user-pic-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.careListBox-user-nickname {
    font-size: 11pt;
    font-weight: bold;
}
.careListBox-text {
    padding-left: 10px;
    width: 66%;
}
.careListBox-text a {
    font-weight: 600;
    color: rgb(36, 38, 44);
    font-size: 14pt;
    text-decoration: none;
    text-align: initial;
    display: block;
}
.careListBox-text-price {
    text-align: initial;
    position: relative;
    top: 25px;
    font-size: 11pt;
}
.careListBox-text-distance {
    position: relative;
    top: 70px;
    text-align: end;
    font-size: 10pt;
    margin-right: 10px;
}
.careAdd-button {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 100px;
    position: fixed;
    bottom: 5%;
    left: 25%;
    background-color: #6abaff;
}