/* Dennis Advise */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    width: auto;
    background-color: #EEEEEE;
    margin: 0;
}

/* User-Card */

.user-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 360px;
    margin-top: 25px;
    margin-bottom: 12.5px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    padding: 25px;
    background: #FAFAFA;
    border-radius: 3px;
    order: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.user-pic-wrapper{
    display: flex;
    justify-content: center;
    height: 150px;
}

.user-pic-wrapper img{
    display: block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    border-radius: 100px;
    justify-content: center;
}

.img-form {
    text-align: center;
}

.file-input-button {
    cursor: pointer;
}

.file-upload-button {
    background-color: transparent;
    border: none;
}

.file-input {
    display: none;
}

.user-nickname {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.user-age {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 17pt;
    margin-bottom: 15px;
}
.user-gender {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 17pt;
    margin-bottom: 5px;
}

.user-pic {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    flex-shrink: 0;
}

.intro-box {
    width: 100%;
    height: 100%;
}

.intro-textarea {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
    resize: none;
    font-weight: 600;
    color: gray;
    padding: 15px;
}

.intro-upload-button {
    background-color: transparent;
    border: none;
}

.username-holder {
    diplay: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: Helvetica Neue;
    color: #4C4F59;
    font-weight: bold;
}


h2 {
    font-family: Helvetica Neue;
    color: #4C4F59;
    font-size: 1.3em;
    font-weight: bold;
}

.cpView {
    font-size: 19pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.uw-icons {
    height: 18px;
    margin-top: 10px;
}

.social-icons {
    height: 32px;
    margin-right: 16px;
    margin-top: 15px;
}

.follow-button {
    display: flex;
    justify-content: center;
    background-color: #dddddd;
    width: 100%;
    height: 30px;
    color: dimgray;
    font-family: Helvetica Neue;
    border-radius: 20px;
    font-weight: bold;
    padding-top: 3px;
    cursor: pointer;
}

.report {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: #32B2E9;
    border-radius: 3px;
    color: white;
    font-family: Helvetica Neue;
}

.followetc {
    display: flex;
    justify-content: space-between;
}


/* Preview-Card */


.featured-card {
    display: flex;
    flex-wrap: wrap;
    background: #FAFAFA;
    height: 100%;
    width: 815px;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 12.5px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    border-radius: 3px;
    order: 3;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /*   transform: scale( ); */
}

.title-break {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 15px;
    padding-bottom: 15px;
    margin-top: -5px;
}

h3 {
    font-family: Helvetica Neue;
    line-height: 1%;
}

.full-featured-preview {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: orange;
    width: 100%;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.pet-card {
    display: flex;
    /*justify-content: space-between;
    align-items: flex-end;*/
    width: 100%;
    height: 200px;
    max-height: 200px;
    margin-top: 25px;
    overflow-x: auto;
}
.pet-card-detail {
    display: flex;
    flex: 0 0 363px; /* 각 요소의 너비를 500px로 지정 */
    margin: 10px; /* 요소 사이의 간격을 조절 */
    background-color: #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: gray;
    font-weight: bold;
}
.pet-card-img {
    background-color: ghostwhite;
    margin: 1rem;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    margin-top: 25px;
}

.pet-card-create-img {
    background-color: ghostwhite;
    margin: 1rem;
    width: 130px;
    height: 130px;
    border-radius: 100px;
}

.pet-info {
    margin: 30px;
}

.pet-create-info {
    margin : 30px;
    margin-top: 60px;
}



.title {
    display: flex;
    align-self: flex-start;
    height: auto;
    width: auto;
    background: #FFFFFF;
    opacity: 0.7;
    margin: 20px;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 7px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
}


.type {
    display: flex;
    height: auto;
    width: auto;
    background: #FFFFFF;
    opacity: 0.7;
    margin: 20px;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 7px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
}

.typename {
    font-family: Helvetica Neue;
    font-weight: bold;
    color: #4D4D4D;
}

.duration {
    display: flex;
    height: auto;
    width: 10%;
    opacity: 0.7;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
    bottom: 50px;
    left: 5px;
    cursor: pointer;
}

.durationname {
    font-family: Helvetica Neue;
    font-weight: bold;
    color: #4D4D4D;
}


/* Follower-Card */

.follower-card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 360px;
    height: 100%;
    margin: 12.5px;
    background: #FAFAFA;

    padding-top: 25px;
    padding-bottom: 12.5px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 3px;
}

.follower {
    font-family: Helvetica Neue;
    font-size: 19pt;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -5px;
    color: #4C4F59;
    width: 100%;
    text-align: center;
}

.follower-pic {
    display: flex;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    margin-right: 17px;
    margin-bottom: 17px;
}

.follower-pics-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Activity-Card  */


.activity-card {
    height: auto;
    width: 815px;
    padding: 25px;
    margin: 12.5px;
    background: #FAFAFA;
    border-radius: 3px;
    order: 4;
}

.icon {
    height: 22px;
    margin-right: 25px;
}

.activity {
    font-family: Helvetica Neue;
    font-size: 19pt;
    font-weight: bold;
    color: #4C4F59;
    width: 100%;
    text-align: center;
}

.time {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-family: Helvetica Neue;
    color: #4A4A4A;
    font-size: 1.2em;
    font-weight: 550;
}

.activity-line {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 20px;
}


.activity2 {
    diplay: flex;
    font-family: Helvetica Neue;
    color: #71767F;
    font-weight: Medium;
    font-size: 1.2em;
}

.reply-icon {
    height: 22px;
    margin-right: 25px;
    transform: rotate(180deg);
}


/* Wrapper */


.row1 {
    display: flex;
    justify-content: center;
    /*   flex-wrap: wrap; */
}


.row2 {
    display: flex;
    justify-content: center;
    /*   flex-wrap: wrap; */
}


.row3 {
    display: flex;
    justify-content: center;
    /*   flex-wrap: wrap; */
}

.trending {
    display: flex;
    height: 100px;
    width: 520px;
    margin-left: 100px;
    font-family: Helvetica Neue;
    font-size: 1.15em;
    font-weight: 500;
    color: #4C4F59;
}


::selection {
    background: #FFB337
; /* WebKit/Blink Browsers */
}

/* 모달 스타일 */
.modal {
    display: none; /* 모달 초기에 숨김 */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%!important;
    border-radius: 10px!important;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: relative;
    left: 98%;
    bottom: 30px;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pet-form {
    font-weight: bold;
    color: dimgray;
}
.pet-form-group {
    margin: 25px;
}
.pet-form-group input {
    width: 75%;
    border: 1.5px solid darkgray;
    border-radius: 12px;
    padding-left: 11px;
}
.pet-form-group-gender {
    margin: 25px;
    display: flex;
    margin-bottom: 30px;
}
.pet-card-button {
    border-radius: 20px;
    border: none;
    background-color: #dddddd;
    color: dimgray;
    padding: 10px;
    font-size: 12pt;
    width: 84%;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    margin-bottom: 40px;
}

.pet-img {
    width: 100%;
    height: 100%;
}
.pet-img img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}


