/*nav 바 부분 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.global-nav {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid blanchedalmond;
    top: 0;
    width: 100%;
    z-index: 9999;
    opacity: 0.9;
}

.global-nav:hover {
    opacity: 1; /* 마우스 오버시 내비바 투명도 1로 설정 */
}

.menu li a:hover {
    color:#24c3f8;
}

.user {
    display: flex;
    align-items: center;
}

.user a {
    font-size: 24px;
    font-weight: 500;
    color: rgb(211, 208, 25);
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

.user a:first-child {
    margin-right: 10px;    background-color: none;
    border-radius: 5px;
}

.user a:last-child {
    background-color: none;
    border-radius: 5px;
}

.user a:hover {
    text-decoration: none;
}

.user a:first-child:hover {
    background-color:  #d9d9d9;
}

.user a:last-child:hover {
    background-color: #d9d9d9;
}

/*수정*/
* {
    font-family: 'Nanum Pen Script', cursive;
}



.logo a {
    font-size: 45px;
    font-weight: bold;
    color: #24c3f8;
    text-decoration: none;
}


.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 30px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

