/** {
    font-family: "Spoqa Han Sans Neo", sans-serif;
}*/
.container {
    background-color: #f7f7f7;
    margin: 0 auto; /* 수평 가운데 정렬 */
    max-width: 1200px; /* 최대 너비 제한 */
    padding: 20px;
}
.menu-container {
    display: flex;
}

.blue-box {
    background-color: blue;
    padding: 10px;
    margin-right: 10px;
}

.blue-box h3.menu-item {
    color: white; /* .blue-box 내부 텍스트 색상 지정 */
}

.white-box {
    background-color: white;
    padding: 10px;
}

.white-box h3.menu-item {
    color: black; /* .white-box 내부 텍스트 색상 지정 */
}

.menu-item {
    display: inline;
    margin: 0;
}

h3 {
    color: #333;
}

.qna-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}


.empty-message {
    text-align: center;
    color: white;
    font-style: italic;
}

.button-container {
    margin-top: 20px;
    text-align: right;
}

.delete-button,
.update-button,
.add-button,
.home-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.menu-container {
    display: flex;
}

.menu-item {
    display: inline-block;
    margin-right: 10px; /* 간격 조정 */
}
