<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETBAYO</title>
    <script src="https://code.jquery.com/jquery-3.4.0.js"></script>


    <link rel="stylesheet" href="/css/loginRegister.css">
    <style>
        .loginButton {
            cursor: pointer;
        }

        .loginButton:hover {
            background-color: #6dbbff;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="blueColor">
        <div class="box signin">
            <h2>이미 아이디가 있으신가요?</h2>
            <button class="signinbtn">Login</button>
        </div>
        <div class="box signup">
            <h2>아이디가 없으신가요?</h2>
            <button class="signupbtn">Register</button>
        </div>

    </div>
    <div class="form-box">
        <div class="form signinform">
            <form method="POST" action="/login">
                <h3>Login</h3>
                <input type="text" name="email" placeholder="Email" required>
                <input type="password" name="pwd" placeholder="Password" required>
                <input class="loginButton" type="button" value="Sign In" onclick="loginCheck()">

                <script>
                    function loginCheck() {
                        var email = document.querySelector('input[name="email"]').value;
                        var password = document.querySelector('input[name="pwd"]').value;

                        $.ajax({
                            url: "/login",
                            type: "POST",
                            data: {
                                email: email,
                                pwd: password
                            },
                            success: function(response) {
                                if (response === "loginSuccess") {
                                    alert("로그인 성공! 환영합니다");
                                    window.location.href = "/";
                                } else if (response === "loginFail") {
                                    alert("로그인에 실패했습니다. 이메일과 비밀번호를 확인해주세요.");
                                    window.location.href = "/loginRegister";
                                }
                            },
                            error: function() {
                                // Handle error if the AJAX request fails
                                alert("An error occurred during the login process.");
                            }
                        });
                    }
                </script>

                <div class="find">
                    <a href="#">아이디 찾기</a>
                    <a>|</a>
                    <a href="#">비밀번호 찾기</a>
                </div>
            </form>
        </div>
        <div class="form signupform">
            <form name="register_form" method="POST" action="/register">
                <h3>Register</h3>
                <div class="reg-e">
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="button" class="btn-auth" onclick="checkEmail(true)">AUTH</button>
                </div>

                <input type="password" name="pwd" id="pwd" placeholder="Password" onchange="isSame()" required>

                <div class="reg-e">
                    <input type="password" name="pwdChk" id="pwdChk" onchange="isSame()" placeholder="Confirm-Password" required>&nbsp;&nbsp;
                    <span id="same"></span>
                </div>

                <div class="reg-e">
                    <input type="text" name="nickname" placeholder="Nickname" required>
                    <button type="button" class="btn" onclick="checkNickname(true)">AUTH</button>
                </div>

                <div>
                    <script>
                        function onlyNumber(){
                            if(
                                (event.keyCode > 47 && event.keyCode < 58 )
                                || event.keyCode == 8
                                || event.keyCode == 37
                                || event.keyCode == 39
                                || event.keyCode == 46
                            ) {

                            } else {
                                event.returnValue = false;
                            }
                        }
                    </script>
                    <input type="text" name="birth" id="birth" maxlength="8" onkeydown="return onlyNumber();" placeholder="Birth  /  Example: 19990101" required>

                    <script>
                        function showSelectedGender() {
                            var maleRadioButton = document.getElementById('male');
                            var femaleRadioButton = document.getElementById('female');
                            var maleLabel = document.querySelector('label[for="male"]');
                            var femaleLabel = document.querySelector('label[for="female"]');

                            maleRadioButton.addEventListener('change', function() {
                                maleLabel.classList.add('gender-active');
                                femaleLabel.classList.remove('gender-active');
                            });

                            femaleRadioButton.addEventListener('change', function() {
                                maleLabel.classList.remove('gender-active');
                                femaleLabel.classList.add('gender-active');
                            });
                        }

                    </script>

                    <input type="radio" id="male" name="gender" value="0" class="radio-btn" required onclick="showSelectedGender()">
                    <label for="male" class="btn-gender">남자</label>

                    <input type="radio" id="female" name="gender" value="1" class="radio-btn" required onclick="showSelectedGender()">
                    <label for="female" class="btn-gender">여자</label>

                </div>

                <input type="button" value="Sign Up" onclick="register()">
            </form>
        </div>
    </div>
</div>
<script src="/js/loginRegister.js"></script>


<script>
let isEmailCheck = false;
let isNicknameCheck = false;

function validateEmail(email) {
    // 이메일 정규식 패턴
    var emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;

    return emailPattern.test(email);
}

function checkEmail(mode) {
    const email = document.register_form.email.value;

    if (email === "") {
        alert("중복검사 전에 이메일을 입력 해 주세요");
        return;
    }
    // 이메일 유효성 검사
    if (!validateEmail(email)) {
        alert("유효한 이메일 형식이 아닙니다.");
        return;
    }

    if (mode) {
        checkEmail_Async();
    } else {
        checkEmail_Sync();
    }
}

function checkEmail_Async() {
    const form = document.register_form;

    const xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                const result = xhr.responseText;
                console.log("응답: " + result);

                if (result === "OK") {
                    isEmailCheck = true;
                    alert("사용 가능한 이메일 입니다");
                } else {
                    isEmailCheck = false;
                    alert("이미 사용중인 이메일 입니다");
                }
            }
        }
    };

    xhr.open("GET", "checkEmail/" + form.email.value, true);
    xhr.send();
}

function validateNickname(nickname) {
    // 닉네임 정규식 패턴
    var nicknamePattern = /^[a-zA-Z0-9ㄱ-ㅎ가-힣]{2,25}$/;

    return nicknamePattern.test(nickname);
}

function checkNickname(mode) {
    const nickname = document.register_form.nickname.value;

    if (nickname === "") {
        alert("중복검사 전에 닉네임을 입력 해 주세요");
        return;
    }
    if (!validateNickname(nickname)) {
        alert("유효한 닉네임 형식이 아닙니다.");
        return;
    }

    if (mode) {
        checkNickname_Async();
    } else {
        checkNickname_Sync();
    }
}

function checkNickname_Async() {
    const form = document.register_form;

    const xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                const result = xhr.responseText;
                console.log("응답: " + result);

                if (result === "OK") {
                    isNicknameCheck = true;
                    alert("사용 가능한 닉네임 입니다");
                } else {
                    isNicknameCheck = false;
                    alert("이미 사용중인 닉네임 입니다");
                }
            }
        }
    };

    xhr.open("GET", "checkNickname/" + form.nickname.value, true);
    xhr.send();
}

function register() {
    const form = document.register_form;

    if (!isEmailCheck) {
        alert("이메일 중복 검사를 하셔야 합니다");
        form.email.focus();
        return;
    }

    if (!isNicknameCheck) {
        alert("닉네임 중복 검사를 하셔야 합니다");
        form.nickname.focus();
        return;
    }

    if (form.email.value === "") {
        alert("이메일을 입력 해 주세요");
        form.email.focus();
        return;
    }
    if (form.pwd.value !== form.pwdChk.value) {
        alert("비밀번호불일치");
        form.pwdChk.focus();
        return;
    }

    if (form.nickname.value === "") {
        alert("닉네임을 입력 해 주세요");
        form.nickname.focus();
        return;
    }

    if (form.birth.value === "") {
        alert("생년월일을 입력 해 주세요");
        form.birth.focus();
        return;
    }
    if (form.birth.value.length < 8) {
        alert("생년월일 8자리를 입력 해 주세요");
        form.birth.focus();
        return;
    }

    if (!form.gender[0].checked && !form.gender[1].checked) {
        alert("성별을 선택 해 주세요");
        return;
    }

    form.submit();
    alert("회원가입 완료! 로그인 페이지로 이동합니다.")
}
function isSame() {
    const form = document.register_form;
    var pwd = document.getElementById('pwd').value;

    if (pwd.length < 6 || pwd.length > 16) {
        alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
        form.pwd.focus();
        document.getElementById('pwd').value=document.getElementById('pwdChk').value='';
        document.getElementById('same').innerHTML='';
    }
    if(document.getElementById('pwd').value!='' && document.getElementById('pwdChk').value!='') {
        if(document.getElementById('pwd').value==document.getElementById('pwdChk').value) {
            document.getElementById('same').innerHTML='비밀번호 일치';
            document.getElementById('same').style.color='blue';
        }
        else {
            document.getElementById('same').innerHTML='비밀번호 불일치';
            document.getElementById('same').style.color='red';
            form.pwdChk.focus();
        }
    }
}
</script>

</body>
</html>