<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PetBayo</title>
    <link rel="stylesheet" type="text/css" href="../static/css/pet-care.css">
    <link rel="stylesheet" type="text/css" href="../static/pet-care/nav.css">
</head>
<body>
<header>
    <h1 class="logo">PetBayo</h1>
    <nav class="global-nav">
        <div class="logo">
            <a href="#">PETBAYO</a>
        </div>
        <ul class="menu">
            <li><a href="#">PETBOOK</a></li>
            <li><a href="#">PETCARE</a></li>
            <li><a href="#">CPRANK</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>

        <div class="user">
            <a href="login.html">로그인</a>
            <a href="register.html">회원가입</a>
        </div>
    </nav>

</header>
<main>
    <div class="sidebar">
        <h2>추천 돌봄이</h2>
        <div class="recommendation">
            <p>현재 <span id="recommendationCount">10</span>명의 돌봄이가 추천되었습니다.</p>
        </div>
    </div>
    <div class="map-container" id="mapContainer">

    </div>
    <!-- 메인 컨텐츠 내용 -->

</main>

<footer>
    <!-- 푸터 내용 -->
</footer>

<script>
    // JavaScript 코드 (지도 API를 사용하는 등의 동적인 기능을 구현)

</script>
</body>
</html>