<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>펫북</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/pet-book.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<nav class="global-nav">
    <div class="logo">
        <a href="#">PETBAYO</a>
    </div>
    <ul class="menu">
        <li><a href="#">PETBOOK</a></li>
        <li><a href="#">PETCARE</a></li>
        <li><a href="#">CPRANK</a></li>
        <li><a href="#">고객센터</a></li>
    </ul>

    <div class="user">
        <a href="login.html">로그인</a>
        <a href="register.html">회원가입</a>
    </div>
</nav>

<div class="container">
    <h1>PETBOOK</h1>
    <div class="search-container">
        <div class="search-input-container">
            <input type="text" id="search-input" placeholder="검색어를 입력하세요">
            <button id="search-button">검색</button>
        </div>
        <div class="search-category-container">
            <select id="search-category">
                <option value="all" selected>전체</option>
                <option value="dog">개</option>
                <option value="cat">고양이</option>
                <option value="other">기타</option>
            </select>
        </div>
    </div>

    <div class="result-container">
        <ul id="result-list">
            <!-- 검색 결과가 여기에 추가됩니다 -->
        </ul>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="image/포메.jpg" alt="포메라니안">
                <div class="card-body">
                    <h5 class="card-title">포메라니안</h5>
                    <p class="card-text">작성자: 최인하</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal1">상세보기</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#modal1">등록</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="image/2.jpg" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">안유진</h5>
                    <p class="card-text">ㅎㅇ: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 3">
                <div class="card-body">
                    <h5 class="card-title">비비</h5>
                    <p class="card-text">Artist: Artist 3</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal3">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Album 2">
                <div class="card-body">
                    <h5 class="card-title">Album 2</h5>
                    <p class="card-text">Artist: Artist 2</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">상세보기</button>
                </div>
            </div>
        </div>

        <!-- ... -->
    </div>
</div>

<div class="modal fade" id="modal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">포메라니안</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="image/포메.jpg" alt="Album 1">
                <p>작성자: 최인하</p>
                <p>포메라니안은 작은 크기와 푸른 눈, 털이 풍성하고 부드러운 두건 모양의 머리 등으로 인해 인기 있는 재스민 견종입니다.

                    이들은 토착적으로 독일의 포메라니아 지방에서 유래한 것으로 알려져 있으며, 18세기 후반에 영국으로 수출되어 유행을 탔습니다. 이후 19세기에는 영국 여성들 사이에서 특히
                    유행하게 되었고, 귀여운 모습으로 인해 인기가 지속되어 왔습니다.

                    포메라니안은 활발하고 호기심 많은 성격을 가지고 있으며, 주인에게 매우 애정 어린 종입니다. 이들은 경계심이 강하고 똑똑하여 훈련하기 쉽습니다. 또한, 작은 크기 때문에
                    아파트에서도 쉽게 기를 수 있으며, 건강한 개체들은 수명이 꽤 길 수 있습니다.

                    그러나, 털이 풍성하기 때문에 손질에 신경을 써주어야 하며, 알러지가 있을 경우 문제가 될 수도 있습니다. 또한, 너무 작아서 아이들과 함께 지내기에는 부적합할 수
                    있습니다..</p>
                <button class="btn btn-primary" data-toggle="modal">수정</button>
                <button class="btn btn-primary" data-toggle="modal">삭제</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Album 2</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="image/2.jpg" alt="Album 2">
                <p>Artist: Artist 2</p>
                <p>우우웁.</p>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal3">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Album 2</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="image/bibi2.png">
                <p>Artist: Artist 2</p>
                <p>헤으응.</p>
            </div>
        </div>
    </div>
</div>


</body>

</html>