<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="register.css">
  <title>PETBAYO</title>
</head>
<body>
<section>
  <div class="form-box">
    <div class="form-value">
      <h2>Register</h2>
      <div class="inputbox" style="display: inline-block">
        <div class="email-e">
          <ion-icon name="at-circle-outline"></ion-icon>
          <input type="id" required>
          <label class="id">Email</label>
          <button class="email-s" type="button">인증하기</button>
        </div>
      </div>
      <form>
        <div class="Y">
          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" required>
            <label class="pw">Password</label>
          </div>
          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" required>
            <label class="pw">Re-Eenter Password</label>
          </div>
          <div class="gender">
            <ion-icon name="male-female-outline"></ion-icon>
            <label class="gender">Gender</label>
            <div class="gnd">
              <button type='button' value="MAN" class="btn btn-navy navbar-btn gender1" onclick='alert("남성을 선택하셨습니다.")'>MAN</button>
              <button type='button' value="WOMEN" class="btn btn-navy navbar-btn gender1" onclick='alert("여성을 선택하셨습니다.")'>WOMEN</button>
            </div>
          </div>
          <div class="bb"></div>
          <div class="Birth">
            <label for="date">Date Of Birth</label>
            <ion-icon name="calendar-number-outline"></ion-icon>
            <div>
              <input type="date" id="date" max="2077-01-01" min="1900-01-01" value="2023-01-01">
            </div>
          </div>
          <div class="aa"></div>

          <button class="reg">회원가입</button>
          <a href="#"></a>
          <div class="register">
            <p class="p">PETBAYO 회원이십니까? <a href="login.html">로그인</a></p>
          </div>
      </form>
    </div>
  </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>