<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header th:insert="common/header.html"></header>
<h3>펫바요 이용약관</h3>
<div class="container">
    <p>제1장 총칙
        제 1 조 (목적)
        이 약관은 주식회사 펫피플(이하 “회사”라 합니다)이 스마트폰 등 이동통신기기를 통해 제공되는 ‘와 요’ 어플리케이션(Application) 등(휴대형 단말기, PC, TV 등의<br>
        각종 유무선 장치를 통해 이용하는 경우를 전부 포함함, 이하 “펫바요”라 합니다)을 통하여 제공되는 중개서비스 및 기타 정보서비스와 관 련하여 회사와 회원 사이의 권
        리와 의무, 서비스 이용 절차에 관한 사항을 규정함을 목적으로 합니다.<br>
        <br>
        제 2 조 (정의규정) 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
        ① “서비스”라 함은 와요에서 이용할 수 있는 와요 관련 제반 서비스(중개서비스 포함)를 말합니다.
        ② “회원”이라 함은 이 약관을 승인하고 회사와 서비스 이용계약을 체결한 자를 말합니다.
        ③ “이용계약”이라 함은 서비스와 관련하여 회사와 회원 간에 체결하는 계약을 말합니다.
        ④ “아이디(ID)”라 함은 회원의 식별과 회원의 서비스 이용을 위해 필요한 전자우편(e-mail) 주소를 말합니다.
        ⑤ “비밀번호”라 함은 회원이 그 자신의 비밀을 보호하기 위해 회원 본인이 설정한 문자, 숫자 또는 기호 등의 조합을 말합니다.
        ⑥ “펫시팅 서비스”라 함은 반려동물의 소유자를 대신하여 소유자로부터 의뢰를 받아 계약기간 동안 반려동물에 대한 보호, 사료 급여, 목욕, 산책 등의 업무를 수행하는 서비스를 말합니다.
        ⑦ “산책(도그워커) 서비스”라 함은 반려동물의 소유자를 대신하여 소유자로부터 의뢰를 받아 계약기간 동안 반려동물에 대한 산책 업무에 한하여 업무를 수행하는 펫시팅 서비스의 형태를 말합니다.
        ⑧ “교육 서비스”라 함은 반려동물의 소유자를 대신하여 소유자로부터 의뢰를 받아 계약기간 동안 반려 동물에 대한 행동교정 및 교육 등의 업무를 수행하는 서비스를 말합니다. ‘방문교육 서비스’는 훈련 사가 고객의 집으로 직접 방문하여 반려동물에 관한 교육을 진행하는 서비스 형태를 말하고, ‘비대면 영상교육 서비스’는 훈련사가 고객과 비대면으로 영상통화를 하여 반려동물에 관한 교육을 진행하는 서비스 형태를 말합니다.
        ⑨ “펫시터”라 함은 와요를 통해 의뢰하는 반려동물 소유자에게 펫시팅 서비스 상품을 판매하고 해당 펫시팅 서비스를 제공하는 회원을 말합니다.
        ⑩ “훈련사”라 함은 와요를 통해 의뢰하는 반려동물 소유자에게 교육 서비스 상품을 판매하고 해당 교육 서비스를 제공하는 회원을 말합니다.
        ⑪ “의뢰인”이라 함은 와요를 통해 펫시팅 서비스·교육 서비스를 구매·이용하는 회원을 말합니다.
        ⑫ “의뢰계약”이라 함은 의뢰인이 와요를 통해 펫시팅 서비스·교육 서비스를 이용하고자 펫시터·훈련사와 체결하는 계약을 말합니다.
        ⑬ “이용대금”이라 함은 의뢰인이 펫시터·훈련사와 의뢰계약을 체결한 후 펫시팅 서비스·교육 서비스를 제공받는 대가로 지급하는 금원을 말합니다.
        ⑭ “중개”라 함은 와요에서 회원 사이의 펫시팅 서비스·교육 서비스에 관한 의뢰계약을 알선하는 것을 말합니다.
        ⑮ “중개서비스”라 함은 구현되는 단말기와 상관 없이 회원이 와요를 통해 이용하는 의뢰계약 중개서비스 또는 이와 관련된 제반 서비스를 말합니다.
        ⑯ “와요메시지”라 함은 회사가 서비스를 제공함에 있어 필요한 공지, 문의 또는 대화가 가능한 와요 내에서의 팝업메시지 등의 수단을 말합니다.
        ⑰ 정의되지 않은 약관상의 용어는 일반적인 거래관행에 의합니다.
    </p>
</div>
</body>
</html>