<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PetBayo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .title {font-weight:bold;display:block;}
        .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
        #centerAddr {display:block;margin-top:2px;font-weight: normal;}
        .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    </style>

</head>
<body>
<header>
    <nav class="global-nav">
        <div class="logo">
            <a href="#">PETBAYO</a>
        </div>
        <ul class="menu">
            <li><a href="#">PETBOOK</a></li>
            <li><a href="#">PETCARE</a></li>
            <li><a href="#">CPRANK</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>

        <div class="user">
            <a href="login.html">로그인</a>
            <a href="register.html">회원가입</a>
        </div>
    </nav>

</header>
<main style="width: 1200px; margin: 0 auto">
    <div style="width: 30%; float: left">
        <div style="text-align: center; font-size: 24px;">

            <h2>추천 돌봄이</h2>


        </div>
        <div style="text-align: center; font-size: 24px;">
            <h2>일반 돌봄이</h2>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="care:${care}">
                    <td th:text="${care.title}"></td>
                    <td th:text="${care.content}"></td>
                    <td th:text="${care.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="map" style="width:70%;height:800px;position:relative;overflow:hidden;">
        <div class="hAddr" style="z-index: 2">
            <span class="title">주소</span>
            <span id="centerAddr"></span>
        </div>
    </div>

<!--    <div id="map" style="width:70%;height:800px;"></div>-->

    <!-- services 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1dc4acb769231477d585bb172afb8241&libraries=services"></script>

    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 사용자의 위치 정보 가져오기
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                // 사용자의 현재 위치 좌표
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;

                // 지도 이동
                var myLatLng = new kakao.maps.LatLng(lat, lng),
                    message = '<div style="padding:5px;">위치를 옮기고 싶다면 지도를 클릭해 위치를 옮겨보세요!</div>';

                displayMarker(myLatLng, message);
            });
        } else {
            var myLatLng = new kakao.maps.LatLng(33.450701, 126.570667),
                message = '현재 위치를 불러올 수 없어요'

            displayMarker(myLatLng, message);
            //(지도위에 콘솔)서비스 받고싶은 장소를 선택해주세요!
        }

        var myMarker = null;
        var myInfowindow = null;

        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(myLatLng, message) {

            // 마커를 생성합니다
            myMarker = new kakao.maps.Marker({
                map: map,
                position: myLatLng
            });

            var iwContent = message, // 인포윈도우에 표시할 내용
                iwRemoveable = true;

            // 인포윈도우를 생성합니다
            myInfowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });

            // 인포윈도우를 마커위에 표시합니다
            myInfowindow.open(map, myMarker);

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(myLatLng);


        }


        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        var cmMarker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
            cmInfowindow = new kakao.maps.InfoWindow({zindex:1}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

        // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
            searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                    var content = '<div class="bAddr">' +
                        detailAddr +
                        '</div>';

                    var infoDiv = document.getElementById('centerAddr');
                    infoDiv.innerHTML = content;


                    // 마커를 클릭한 위치에 표시합니다
                    cmMarker.setPosition(mouseEvent.latLng);
                    cmMarker.setMap(map);

                    if(cmMarker) {
                        myMarker.setMap(null);
                        myInfowindow.setMap(null);
                    }

                    // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                    cmInfowindow.setContent('내위치');
                    cmInfowindow.open(map, cmMarker);
                }
            });
        });

        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

        $.ajax({
            type: 'GET',
            url: '/api/care',
            dataType: 'json',
            success: function(data) {
                console.log(data)

                const imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; // 마커 이미지의 이미지 주소입니다

                for (let i = 0; i < data.length; i++) {

                    let imageSize = new kakao.maps.Size(24, 35); //마커 이미지의 이미지 크기입니다

                    let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); // 마커 이미지를 생성합니다.

                    let marker = new kakao.maps.Marker({
                        map: map,
                        position: new kakao.maps.LatLng(data[i].longitude, data[i].latitude),
                        title : data[i].title,
                        image : markerImage,
                        clickable: true,
                        content : data[i].content,
                        price : data[i].price
                    });

                    // 인포윈도우를 생성합니다
                    let infowindow = new kakao.maps.InfoWindow({
                        position: new kakao.maps.LatLng(data[i].longitude, data[i].latitude),
                        content : `<div>${data[i].title}</div><div>${data[i].content}</div><div>${data[i].price}</div>`,
                    });

                    // 마커에 클릭이벤트를 등록합니다
                    kakao.maps.event.addListener(marker, 'click', function() {
                        if (infowindow.getMap()) {
                            // 이미 열린 인포윈도우가 있다면 닫습니다
                            infowindow.close();
                        } else {
                            // 마커 위에 인포윈도우를 표시합니다
                            infowindow.open(map, marker);
                        }
                    });
                }

            }
        });
    </script>






    <div class="mt-2">
        <a href="/careCreate" class="btn btn-sm btn-primary">등록</a> <a href=".." class="btn btn-sm btn-warning">이전</a>
    </div>
    <!-- 메인 컨텐츠 내용 -->

</main>

<footer>
    <!-- 푸터 내용 -->
</footer>

<script>
    // JavaScript 코드 (지도 API를 사용하는 등의 동적인 기능을 구현)

</script>
</body>
</html>
