<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <div>
    <h3>제품 등록</h3>
  </div>

  <form method="post">
    <div class="form-group mt-2">
      <label>제목:</label>
      <input name="title" type="text" class="form-control">
    </div>

    <div class="form-group mt-2">
      <label>내용</label>
      <input name="content" type="text" class="form-control">
    </div>

    <div class="form-group mt-2">
      <label>위도</label>
      <input name="longitude" type="number" step="0.000001" class="form-control">
    </div>

    <div class="form-group mt-2">
      <label>경도</label>
      <input name="latitude" type="number" step="0.000001" class="form-control">
    </div>

    <div class="form-group mt-2">
      <label>가격</label>
      <input name="price" type="number" class="form-control">
    </div>

    <div class="form-group mt-3">
      <button type="submit" class="btn btn-sm btn-primary">등록</button>
      <a href="/careList"><button type="button" class="btn btn-sm btn-secondary">취소</button></a>
    </div>
  </form>
</div>

</body>
</html>