<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PetBayo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/pet-care.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <h1 class="logo">PetBayo</h1>
    <nav class="global-nav">
        <div class="logo">
            <a href="#">PETBAYO</a>
        </div>
        <ul class="menu">
            <li><a href="#">PETBOOK</a></li>
            <li><a href="#">PETCARE</a></li>
            <li><a href="#">CPRANK</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>

        <div class="user">
            <a href="login.html">로그인</a>
            <a href="../register.html">회원가입</a>
        </div>
    </nav>

</header>
<main>
    <div class="sidebar">
        <div>추천 돌봄이</div>
        <div>일반 돌봄이</div>
    </div>
    <div class="map-container" id="mapContainer">
    </div>

    <div id="map" style="width:70%;height:1080px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1dc4acb769231477d585bb172afb8241"></script>

    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 title 객체 배열입니다
        // var positions = [];

        $.ajax({
            type: 'GET',
            url: '/api/care',
            dataType: 'json',
            success: function(data) {
                // 가져온 데이터를 positions 배열에 추가한다.
                console.log(data)
                /*
                for (var i = 0; i < data.length; i++) {
                    positions.push({
                        title: data[i].title,
                        latlng: new kakao.maps.LatLng(data[i].longitude, data[i].latitude),
                        content: data[i].content,
                        price: data[i].price
                    });

                }
                 */

                const imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; // 마커 이미지의 이미지 주소입니다

                for (let i = 0; i < data.length; i++) {

                    let imageSize = new kakao.maps.Size(24, 35); //마커 이미지의 이미지 크기입니다

                    let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); // 마커 이미지를 생성합니다.

                    let marker = new kakao.maps.Marker({
                        map: map,
                        position: new kakao.maps.LatLng(data[i].longitude, data[i].latitude),
                        title : data[i].title,
                        image : markerImage,
                        clickable: true,
                        content : data[i].content,
                        price : data[i].price
                    });

                    /*
                var iwContent = [];

                 for (var i = 0; i < data.length; i++) {
                    iwContent.push({
                        title: data[i].title,
                        latlng: new kakao.maps.LatLng(data[i].longitude, data[i].latitude),
                        content: data[i].content,
                        price: data[i].price
                    });

                 }
                 */

                // for (var i = 0; i < data.length; i++) {
                    //var iwContent = , // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                    //    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

// 인포윈도우를 생성합니다
                    let infowindow = new kakao.maps.InfoWindow({
                        position: new kakao.maps.LatLng(data[i].longitude, data[i].latitude),
                        content : `<div>${data[i].content}</div>`,
                        removable : true
                    });

// 마커에 클릭이벤트를 등록합니다
                    kakao.maps.event.addListener(marker, 'click', function() {
                        // 마커 위에 인포윈도우를 표시합니다
                        infowindow.open(map, marker);
                    });
                }

            }
        });
    </script>



    <table>
        <tbody>
             <tr th:each="care : ${care}">
                <td th:text="${care.longitude}"></td>
                <td th:text="${care.latitude}"></td>
                 <td th:text="${care.content}"></td>
                 <td th:text="${care.price}"></td>
             </tr>
        </tbody>
    </table>


    <div class="mt-2">
        <a href="/careCreate" class="btn btn-sm btn-primary">등록</a> <a href=".." class="btn btn-sm btn-warning">이전</a>
    </div>
    <!-- 메인 컨텐츠 내용 -->

</main>

<footer>
    <!-- 푸터 내용 -->
</footer>

<script>
    // JavaScript 코드 (지도 API를 사용하는 등의 동적인 기능을 구현)

</script>
</body>
</html>
