<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PETCARE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <style>
        .goBook {
            text-decoration: none; /* 밑줄 제거 */
            color: inherit; /* 부모 요소의 색상 상속 */
        }
        .goBook:hover {
            text-decoration: none; /* 밑줄 제거 */
            color: #35b0ff; /* 호버 시에 변경할 색상 설정 */
        }
        .title {font-weight:bold;display:block;}
        .hAddr {position:absolute;left:3px;top:3px;border-radius: 3px;background:#fff;background:rgba(255,255,255,0.8);z-index:2;padding:5px;box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;}
        .mAddr {cursor: pointer;width:32px;height:32px;position:absolute;right:3px;top:190px;border-radius: 3px;background-color: #ffffff;background-image: url("/img/myLocGo.svg");z-index:2;padding:5px;box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;}
        #centerAddr {display:block;margin-top:2px;font-weight: normal;}
        .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
        .careListBox {
            cursor: pointer;
            margin-top: 1px;
            margin-bottom: 1px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            height: 80px;
            box-sizing: border-box;
            font-size: 12pt;
        }
        .careListBox.hovered {
            outline: 2px solid #35b0ff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        .custom-infowindow .custom-infowindow-close {
            top: -1px;
            right: -15px;
        }
        .careListBoxTd {
            width: 33%;
        }
    </style>

</head>
<body>
<header th:insert="common/header.html"></header>
<div style="margin-bottom:150px;width: 100%;height: 900px; background-image: url('/img/care1.png');">
    <h3 style="margin: 0 auto; max-width: 1200px;padding: 30px;">돌봄이를 찾아보세요</h3>
    <div style="margin: 0 auto; max-width: 1200px; padding: 40px;">
        <a class="goBook" href="/book/bookList" style="background-color: #fffdce; width: 200px;font-size: 14pt;padding: 15px;">반려동물의 특성 알아보기</a>
    </div>
</div>
<main style="width: 1200px; margin: 0 auto;">
    <div style="width: 30%;height:800px;float: left;box-shadow: -1px 1px 0 0.05rem rgba(0,0,0,0.2);overflow: auto">
        <div style="text-align: center; font-size: 24px;">
            <h4 style="padding-top: 10px; margin-top: 10px;font-size: 20px;">추천 돌봄이</h4>
            <table style="width:100%;">
                <thead>
                <tr style="font-size: 18px;">
                    <th>Title</th>
                    <th>Content</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="careListBox" style="font-size: 12pt;">
                        <td style="cursor: auto;" colspan="3">추천돌봄이가 없습니다.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center; font-size: 24px;">
            <h4 style="padding-top: 10px; margin-top: 10px; font-size: 20px;">일반 돌봄이</h4>
            <table style="width:100%;">
                <thead>
                <tr style="font-size: 18px;">
                    <th>Title</th>
                    <th>Content</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody id="careTableBody">

                </tbody>
            </table>
        </div>
    </div>
    <div id="map" style="width:70%;height:800px;position:relative;overflow:hidden;">
        <div class="hAddr">
            <span class="title">주소</span>
            <span id="centerAddr"></span>
        </div>
        <div class="mAddr" id="myLocGo">
            <div id="myLocCenter"></div>
        </div>
    </div>

    <!-- services 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1dc4acb769231477d585bb172afb8241&libraries=services"></script>

    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        var centerPosition; // 중심좌표를 담을 객체

        var geocoder = new kakao.maps.services.Geocoder(); // 주소-좌표 변환 객체를 생성합니다

        var myMarker = null;
        var myInfowindow = null;

        var circle; // 반경원을 표시할 객체

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // 지도의 현재 확대 레벨을 가져옵니다
        var zoomLevel = map.getLevel();
        // 각 확대 레벨에 대한 숫자를 정의합니다
        var number;


        // 사용자의 위치 정보 가져오기
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function(position) {
                // 사용자의 현재 위치 좌표
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;

                // 지도 이동
                var myLatLng = new kakao.maps.LatLng(lat, lng),
                    message = '<div style="padding:5px;">위치를 옮기고 싶다면 지도를 클릭해 위치를 옮겨보세요!</div>';

                centerPosition = myLatLng;

                displayMarker(myLatLng, message);

                searchDetailAddrFromCoords(myLatLng, function(result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                        detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                        var content = '<div class="bAddr">' +
                            detailAddr +
                            '</div>';

                        var infoDiv = document.getElementById('centerAddr');
                        infoDiv.innerHTML = content;

                        createCircle(350);
                    }
                });
            }, function (error) {
                    var myLatLng = new kakao.maps.LatLng(36.450701, 126.570667),
                        message = '<div>현재 위치를 불러올 수 없어요</div>'

                    centerPosition = myLatLng;

                    displayMarker(myLatLng, message);
                    //(지도위에 콘솔)서비스 받고싶은 장소를 클릭해주세요!

                    searchDetailAddrFromCoords(myLatLng, function(result, status) {
                        if (status === kakao.maps.services.Status.OK) {
                            var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                            detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                            var content = '<div class="bAddr">' +
                                detailAddr +
                                '</div>';

                            var infoDiv = document.getElementById('centerAddr');
                            infoDiv.innerHTML = content;

                            createCircle(350);
                        }
                    });
                });
        } else {
            alert('이 브라우저는 위치 정보를 지원하지 않습니다.');
        }

        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(myLatLng, message) {
            const imageSrc = "/img/myLoc.svg"; // 마커 이미지의 이미지 주소입니다

            let imageSize = new kakao.maps.Size(35, 35); //마커 이미지의 이미지 크기입니다

            let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); // 마커 이미지를 생성합니다.

            // 마커를 생성합니다
            myMarker = new kakao.maps.Marker({
                map: map,
                image : markerImage,
                position: myLatLng,
                zIndex:3
            });

            var iwContent = message, // 인포윈도우에 표시할 내용
                iwRemoveable = true;

            // 인포윈도우를 생성합니다
            myInfowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable,
                zIndex:3
            });

            // 인포윈도우를 마커위에 표시합니다
            myInfowindow.open(map, myMarker);

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(myLatLng);

        }

        var cmMarker;
        var cmInfowindow;

        // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
            searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                    var content = '<div class="bAddr">' +
                        detailAddr +
                        '</div>';

                    var infoDiv = document.getElementById('centerAddr');
                    infoDiv.innerHTML = content;

                    if(cmMarker) {
                        cmMarker.setMap(null);
                        cmInfowindow.setMap(null);
                    }

                    const cmImageSrc = "/img/myLoc.svg";
                    const cmImageSize = new kakao.maps.Size(35, 35);
                    const cmMarkerImage = new kakao.maps.MarkerImage(cmImageSrc, cmImageSize);

                    cmMarker = new kakao.maps.Marker({
                        map: map,
                        image: cmMarkerImage,
                        zIndex:3
                    });
                    cmInfowindow = new kakao.maps.InfoWindow({zIndex:3}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

                    // 마커를 클릭한 위치에 표시합니다
                    cmMarker.setPosition(mouseEvent.latLng);
                    cmMarker.setMap(map);

                    centerPosition = mouseEvent.latLng;

                    // 클릭한 위치를 중심좌표로 설정
                    map.setCenter(centerPosition);

                    if(cmMarker.getMap()) {
                        myMarker.setMap(null);
                        myInfowindow.setMap(null);
                    }

                    // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                    cmInfowindow.setContent('내위치');
                    cmInfowindow.open(map, cmMarker);

                    if (circle) {
                        circle.setMap(null);
                    } // 원 지도에서 지우기

                    circleChange()

                    createCircle(number);

                }
            });
        });

        kakao.maps.event.addListener(map, 'zoom_changed', function() {

            circleChange();

            if (circle) {
                circle.setMap(null);
            } // 원 지도에서 지우기

            createCircle(number);

        });

        var myLocButton = document.getElementById('myLocGo');
        myLocButton.addEventListener('click', function () {
            map.setCenter(centerPosition);
        });


        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

        function createCircle(radius) {
            // 원 객체 데이터 삽입
            circle = new kakao.maps.Circle({
                center : centerPosition, // 원의 중심좌표입니다
                radius: radius, // 원의 반지름입니다 m 단위
                strokeWeight: 1, // 선의 두께입니다
                strokeColor: '#00a0e9', // 선의 색깔입니다
                strokeOpacity: 0.1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                strokeStyle: 'solid', // 선의 스타일입니다
                fillColor: '#00a0e9', // 채우기 색깔입니다
                fillOpacity: 0.2  // 채우기 불투명도입니다
            });

            circle.setMap(map); // 원을 지도에 표시합니다
        }

        function circleChange() {
            // 지도의 현재 확대 레벨을 가져옵니다
            zoomLevel = map.getLevel();

            if (zoomLevel === 1) {
                number = 105;
            } else if (zoomLevel === 2) {
                number = 210;
            } else if (zoomLevel === 3) {
                number = 350;
            } else if (zoomLevel === 4) {
                number = 700;
            } else if (zoomLevel === 5) {
                number = 1750;
            } else if (zoomLevel === 6) {
                number = 3500;
            } else if (zoomLevel === 7) {
                number = 7000;
            } else if (zoomLevel === 8) {
                number = 14000;
            } else if (zoomLevel === 9) {
                number = 28000;
            } else if (zoomLevel === 10) {
                number = 56000;
            } else if (zoomLevel === 11) {
                number = 112000;
            } else if (zoomLevel === 12) {
                number = 224000;
            } else if (zoomLevel === 13) {
                number = 448000;
            } else if (zoomLevel === 14) {
                number = 896000;
            }

        }


        $.ajax({
            type: 'GET',
            url: '/api/care',
            dataType: 'json',
            success: function(data) {
                console.log(data)

                let tableBody = '';

                for (let i = 0; i < data.length; i++) {
                    tableBody += `
                <tr class="careListBox" data-index="${i}">
                    <td class="careListBoxTd">${data[i].title}</td>
                    <td class="careListBoxTd">${data[i].content}</td>
                    <td class="careListBoxTd">${data[i].price}</td>
                </tr>
            `;
                }
                $('#careTableBody').html(tableBody);



                const imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; // 마커 이미지의 이미지 주소입니다

                for (let i = 0; i < data.length; i++) {

                    let imageSize = new kakao.maps.Size(24, 35); //마커 이미지의 이미지 크기입니다

                    let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); // 마커 이미지를 생성합니다.

                    let marker = new kakao.maps.Marker({
                        map: map,
                        position: new kakao.maps.LatLng(data[i].latitude, data[i].longitude),
                        title : data[i].title,
                        image : markerImage,
                        clickable: true,
                        content : data[i].content,
                        price : data[i].price
                    });

                    // 인포윈도우를 생성합니다
                    let infowindow = new kakao.maps.InfoWindow({
                        position: new kakao.maps.LatLng(data[i].latitude, data[i].longitude),
                        content : `<div>${data[i].title}</div><div>${data[i].content}</div><div>${data[i].price}</div>`,
                    });

                    // 마커에 클릭이벤트를 등록합니다
                    kakao.maps.event.addListener(marker, 'click', function() {
                        if (infowindow.getMap()) {
                            // 이미 열린 인포윈도우가 있다면 닫습니다
                            infowindow.close();
                        } else {
                            // 마커 위에 인포윈도우를 표시합니다
                            infowindow.open(map, marker);
                        }
                    });
                    //let numA = new kakao.maps.LatLng(data[i].latitude, data[i].longitude);

                }
                /*var numB = new kakao.maps.LatLng(data[3].latitude, data[3].longitude);
                console.log(centerPosition);
                console.log(numB);

                let distanceA = kakao.maps.geometry.distance(centerPosition, numB);
                console.log(distanceA);*/

                // 클릭 이벤트를 추가합니다
                $('.careListBox').click(function() {
                    const index = $(this).data('index');
                    const clickedData = data[index];

                    console.log(clickedData); // 클릭한 데이터에 대한 동작을 수행합니다
                    var clickLatLng = new kakao.maps.LatLng(clickedData.latitude, clickedData.longitude);

                    map.setCenter(clickLatLng); //클릭한 마커의 좌표를 중심좌표로 설정

                });
                $('.careListBox').hover(
                    function() {
                        $(this).addClass('hovered');
                    },
                    function() {
                        $(this).removeClass('hovered');
                    }
                );


            }
        });



    </script>

    <div class="mt-2">
        <a href="/careCreate" class="btn btn-sm btn-primary" style="width: 70px;">글쓰기</a>
    </div>
    <!-- 메인 컨텐츠 내용 -->

</main>

<footer>
    <!-- 푸터 내용 -->
</footer>

<script>
    // JavaScript 코드 (지도 API를 사용하는 등의 동적인 기능을 구현)

</script>
</body>
</html>
